#square-map {background:#fff; padding:10px; font-family:arial; color:#444; height:500px;  -webkit-border-radius: 10px;-moz-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px;}
#square-map h4 {margin:5px 0px 5px 0px;}
