<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="/static/css/style.css">
		{% block css %}{% endblock %}
		<title>{% block title %}{% endblock %}</title>
		<script type="text/javascript" src="/static/js/jquery-1.6.4.min.js"></script>
		{% block script %}{% endblock %}
	</head>
	<body>
		<div id="wrap">
			<div id="header">
				<div id="sesion">
					{% block info_usuario %}
					{% endblock %}
				</div>
			</div>
			<div id="content">
				<div id="content-left">
					<div id="desc">
						<h1>Registro de delitos</h1>
						<span>en un sólo Clic</span>
						<div class="cola"></div>
					</div>
					<div id="logo">
						<a href="/">
						<h1>Roba.me</h1>
						<div class="slogan">Ayudanos a Protegernos</div>
						</a>
					</div>
					<div id="faq">
						<div class="about"><a href="faq">¿Deseas saber más sobre <strong>roba.me</strong>?</a></div>
						<div class="email"><a href="#">¿Quiéres recibir notificaciones en tu e - mail?</a></div>
					</div>
					<div id="copy">
						<span class="copy">&copy; 2011. Equipo Zion</span>
						<span class="copy-about">Desarrollado como parte de <a href="http://desarrollaamerica.org">desarrollaamerica</a></span>
					</div>
					<div>
						{% block content-left %}
						{% endblock %}
					</div>
				</div>	
				<div id="square-map">
					{% block content-right %}{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>
