<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="/static/css/style.css">
		<title>{% block title %}{% endblock %}</title>
		<script type="text/javascript" src="/static/js/jquery-1.6.4.min.js"></script>
		{% block script %}{% endblock %}
	</head>
	<body>
		<div id="wrap">
			<div id="header">
				<div id="sesion">
					<div id="pre-sesion">
						¿Tienes Cuenta?
						<a href="#">Cancelar</a>
					</div>
					<form>
						<label>Usuario</label>
						<input class="textbox" type="text">
						<label>Password</label>
						<input class="textbox" type="password">
						<input id="btn-sesion" class="btn-session" type="button" value="Iniciar Sesión">
					</form>
				</div>
			</div>
			<div id="content">
				<div id="content-left">
					<div id="desc">
						<h1>Registro de robos</h1>
						<span>en un sólo Clic</span>
						<div class="cola"></div>
					</div>
					<div id="logo">
						<h1>Roba.me</h1>
						<div class="slogan">Ayudanos a Protegernos</div>
					</div>
					<div id="faq">
						<div class="about"><a href="#">¿Deseas saber más sobre <strong>roba.me</strong>?</a></div>
						<div class="email"><a href="#">¿Quiéres recibir notificaciones en tu e - mail?</a></div>
					</div>
					<div id="copy">
						<span class="copy">&copy; 2011. Equipo Zion</span>
						<span class="copy-about">Desarrollado como parte de <a href="#">desarrollaamerica</a></span>
					</div>
					<ul id="ultimos-robos">
						<li class="robo first">
							<span class="head-robo"><span class="fecha-robo">28 de Marzo 2011</span> a las 20:05 en <a class="lugar" href="#">Huancayo</a></span>
							<p class="denuncia"><a href="#">#acuchillamiento</a>en el Jr. Azangaro tengan cuidado esta peligrosa la zona</p>
						</li>
						<li class="robo">
							<span class="head-robo"><span class="fecha-robo">28 de Marzo 2011</span> a las 20:10 en <a class="lugar" href="#">Lima</a></span>
							<p class="denuncia"><a href="#">#roboalpaso</a>en la av. Salaverry no vaya por ahy.</p>
						</li>
						<li class="robo last">
							<span class="head-robo"><span class="fecha-robo">29 de Marzo 2011</span> a las 10:40 en <a class="lugar" href="#">Lima</a></span>
							<p class="denuncia"><a href="#">#locosuelto</a>psj. Moscú. Loco tirando piedra.</p>
						</li>
					</ul>
					<div id="mas"><span><div id="icon-mas">más</div></span></div>
				</div>	
				<div id="square-map">
					{% block content-right %}{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>
