{% extends "base.html" %}
{% block title %}Roba.me | Denuncias en un solo clic{% endblock %}
{% block css %}<link rel="stylesheet" href="/static/css/style_faq.css">{% endblock %}
{% block script %}
	<script type="text/javascript" src="/static/js/custom_index.js"></script>
{% endblock %}
{% block content-right %}
<h4>¿De qué trata roba.me?</h4>
<p>
Es un aplicativo web que permite registrar robos y mantenernos informados de sitios potencialmente peligrosos.
</p>
<h4>¿Cómo hago para que me envie información de sitios peligrosos a mi e-mail?</h4>
<p>roba.me cuenta con el servicio de alertas a correos electronicos, para lo cual un usuario debe registrarse e indicar lugares de interés.</p>
<h4>¿Existe algún pago por el servicio?</h4>
<p>No, sólo se hizo por la gloria.</p>
<h4>¿Existe alguna restricción con respecto a la ubicación de zonas en el mapa?</h4>
<p>Los lugares en los que se indiquen en una denuncia deben estar dentro de la jurisdicción del Perú.</p>

{% endblock %}
